body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: tan;
  color: dimgray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url("images/tennis_1.jpg");
  color: white;
  padding: 16px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 16px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 16px;
}

h2 {
  color: dodgerblue;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 16px;
}

.gallery-container img {
  width: calc(20% - 16px);
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
